{% extends 'accounts/main.html' %}


{% block content %}

{% include 'accounts/status.html' %}

<div class="container my-2">

<br>

<div class="row">
    <div class="col-md-5">
        <h5>CUSTOMERS:</h5>
        <hr>
        <div class="card card-body">
            <a href="" class="btn btn-primary btn-sm btn-block">Create Customer</a>
            <table class="table table-sm">
                <tr>
                    <th>Customer</th>
                    <th>Phone</th>
                    <td></td>
                </tr>

                {%for customer in customers%}
                    <tr>
                        <td>{{customer.name}}</td>
                        <td>{{customer.phone}}</td>
                        <td><a href=" {% url 'Customer' customer.id %}" class="btn btn-info">View</a></td>
                    </tr>
                {%endfor%}
                
            </table>
        </div>
    </div>

    <div class="col-md-7">
        <h5>LAST 5 ORDERS</h5>
        <hr>
        <div class="card card-body">
            <a href="" class="btn btn-primary btn-sm btn-block">Create Order</a> 
            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Date Orderd</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>

                {%for order in orders%}
                    <tr>
                        <td>{{order.product.name}}</td>
                        <td>{{order.date_created}}</td>
                        <td>{{order.status}}</td>
                        <td>
                            <a href="" class="btn btn-info">Update</a>
                        </td>
                        <td>
                            <a href="" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {%endfor%}
                
            </table>  
        </div>
    </div>
</div>
</div>

{% endblock content %}
